.root{
    -fx-background-color: null;
    /*变量设置*/
    -base-hover-color: #0ab78d;

}
.content-pane {
    -fx-background-color: #0b4580;
    -fx-background-image: url("../img/bg_black.jpg");
    -fx-background-size: cover;
}

/*----底部按钮----*/
.time-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

/*----------图形按钮通用样式---------*/
.svg-btn{
/*    大小、背景色*/
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}
.svg-btn Region{
    -fx-background-color: white;
}

.svg-btn:hover Region{
    -fx-background-color:-base-hover-color;
}

.prev-btn Region{
    -fx-shape: "M298.666667 768V256h85.333333v512H298.666667z m170.666666-256l256-256v512l-256-256z";

}
.play-btn{
    -fx-background-color: null;
}
.play-btn Region{
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-background-color: -base-hover-color;
    -fx-shape:"M512 64C264.576 64 64 264.576 64 512s200.576 448 448 448 448-200.576 448-448A448 448 0 0 0 512 64z m-124.416 640.544V319.776L719.36 505.28z";
}
/*Play btn 选中改变图片*/
.play-btn:selected Region{
    -fx-shape: "M512 64C264.576 64 64 264.576 64 512s200.576 448 448 448 448-200.576 448-448A448 448 0 0 0 512 64z m-64 640h-64V320h64z m192 0h-64V320h64z";
}

.next-btn Region{
    -fx-shape:"M725.333333 256v512h-85.333333V256h85.333333z m-170.666666 256l-256 256V256l256 256z" ;
}
.show-list-btn Region{
    -fx-background-color: white;
    -fx-max-height: 15px;
    -fx-max-width: 15px;
    -fx-shape: "M85.333333 768h426.666667v85.333333H85.333333v-85.333333z m0-298.666667h597.333334v85.333334H85.333333v-85.333334z m0-298.666666h853.333334v85.333333H85.333333V170.666667z m725.333334 476.586666V384h213.333333v85.333333h-128v298.666667a128 128 0 1 1-85.333333-120.746667z";
}

.show-list-btn:hover Region{
    -fx-background-color:-base-hover-color;
}
/*-------------中间区域-----------*/
.lrc-pane,
.spectrum-pane{
    -fx-border-width: 0;
}
/*----------顶部-----------*/
.logo-label{
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.skin-btn Region{
    -fx-shape: "M693.27675386 902.9034701H330.14111117c-42.03012781 0-76.14322234-34.11309459-76.14322235-76.14322239V554.67047595l-36.44163409 37.9551835c-5.93777437 6.17062853-14.20408725 9.77986323-22.81968186 9.77986331-8.61559353 0-16.88190751-3.49280827-22.81968073-9.77986331L29.17745663 444.06487723c-11.75912107-12.22482944-11.75912107-31.66812957 0-43.89295901l256.2557076-267.0834131c5.82134786-7.2184707 14.66979555-11.87554877 24.56608539-11.87554755h84.64238935c17.46404237 0 31.66812957 14.20408725 31.6681296 31.66812845 0 37.60590394 47.61862031 71.02043703 85.10809657 71.02043703s85.10809769-33.41453319 85.10809767-71.02043703c0-17.46404237 14.20408725-31.66812957 31.66812839-31.66812845h84.99167122c10.47842478 0 19.79258084 5.12278528 25.49750105 12.92339088l256.1392799 266.61770466c11.75912107 12.22482944 11.75912107 31.66812957-4e-8 43.89295898L852.31596206 593.32422189c-5.93777437 6.17062853-14.20408725 9.77986323-22.81968193 9.77986346-8.61559353 0-16.88190751-3.49280827-22.81968071-9.66343682l-37.14019555-38.53731954v271.97334524c-0.11642652 41.91370013-34.3459487 76.0267958-76.25965001 76.0267958z m-407.61073659-458.72216635c3.95851666 0 8.03345978 0.69856144 11.87554876 2.3285396 11.99197526 4.88993225 19.90900738 16.53262676 19.90900735 29.45601651v350.79438785c0 6.98561649 5.70492019 12.69053667 12.69053779 12.69053672H693.27675386c6.98561649 0 12.69053667-5.70492019 12.69053786-12.69053672v-350.44510602c0-12.92339086 7.8006056-24.56608537 19.79258081-29.45601764 11.99197526-4.88993225 25.73035518-1.86283121 34.69522943 7.45132487l68.80832517 71.36971657 98.73004999-102.80499195-228.54609462-238.32595797h-44.00938556c-17.69689533 60.54201109-83.94382794 102.68856544-144.02013188 102.68856543S385.21105633 244.97480025 367.51416093 184.54921557h-43.54367832L96.00652288 422.06018444l98.61362345 102.80499316 68.10976371-70.90401054c6.17062853-6.28705516 14.5533679-9.77986323 22.9361073-9.77986331z";

}

.full-btn{
    -fx-background-color: null;
}
.full-btn Region{
    -fx-background-color: white;
    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
    -fx-shape:"M290 236.4l43.9-43.9c4.7-4.7 1.9-12.8-4.7-13.6L169 160c-5.1-0.6-9.5 3.7-8.9 8.9L179 329.1c0.8 6.6 8.9 9.4 13.6 4.7l43.7-43.7L370 423.7c3.1 3.1 8.2 3.1 11.3 0l42.4-42.3c3.1-3.1 3.1-8.2 0-11.3L290 236.4zM642.7 423.7c3.1 3.1 8.2 3.1 11.3 0l133.7-133.6 43.7 43.7c4.7 4.7 12.8 1.9 13.6-4.7L863.9 169c0.6-5.1-3.7-9.5-8.9-8.9L694.8 179c-6.6 0.8-9.4 8.9-4.7 13.6l43.9 43.9L600.3 370c-3.1 3.1-3.1 8.2 0 11.3l42.4 42.4zM845 694.9c-0.8-6.6-8.9-9.4-13.6-4.7l-43.7 43.7L654 600.3c-3.1-3.1-8.2-3.1-11.3 0l-42.4 42.3c-3.1 3.1-3.1 8.2 0 11.3L734 787.6l-43.9 43.9c-4.7 4.7-1.9 12.8 4.7 13.6L855 864c5.1 0.6 9.5-3.7 8.9-8.9L845 694.9zM381.3 600.3c-3.1-3.1-8.2-3.1-11.3 0L236.3 733.9l-43.7-43.7c-4.7-4.7-12.8-1.9-13.6 4.7L160.1 855c-0.6 5.1 3.7 9.5 8.9 8.9L329.2 845c6.6-0.8 9.4-8.9 4.7-13.6L290 787.6 423.7 654c3.1-3.1 3.1-8.2 0-11.3l-42.4-42.4z";
}

/*Play btn 选中改变图片*/
.full-btn:selected Region{
    -fx-shape: "M391 240.9c-0.8-6.6-8.9-9.4-13.6-4.7l-43.7 43.7L200 146.3c-3.1-3.1-8.2-3.1-11.3 0l-42.4 42.3c-3.1 3.1-3.1 8.2 0 11.3L280 333.6l-43.9 43.9c-4.7 4.7-1.9 12.8 4.7 13.6L401 410c5.1 0.6 9.5-3.7 8.9-8.9L391 240.9zM401.1 614.1L240.8 633c-6.6 0.8-9.4 8.9-4.7 13.6l43.9 43.9L146.3 824c-3.1 3.1-3.1 8.2 0 11.3l42.4 42.3c3.1 3.1 8.2 3.1 11.3 0L333.7 744l43.7 43.7c4.7 4.7 12.8 1.9 13.6-4.7l18.9-160.1c0.6-5.1-3.7-9.4-8.8-8.8zM622.9 409.9L783.2 391c6.6-0.8 9.4-8.9 4.7-13.6L744 333.6 877.7 200c3.1-3.1 3.1-8.2 0-11.3l-42.4-42.3c-3.1-3.1-8.2-3.1-11.3 0L690.3 279.9l-43.7-43.7c-4.7-4.7-12.8-1.9-13.6 4.7L614.1 401c-0.6 5.2 3.7 9.5 8.8 8.9zM744 690.4l43.9-43.9c4.7-4.7 1.9-12.8-4.7-13.6L623 614c-5.1-0.6-9.5 3.7-8.9 8.9L633 783.1c0.8 6.6 8.9 9.4 13.6 4.7l43.7-43.7L824 877.7c3.1 3.1 8.2 3.1 11.3 0l42.4-42.3c3.1-3.1 3.1-8.2 0-11.3L744 690.4z";
}

.full-btn:hover Region{
    -fx-background-color: -base-hover-color;
}
.mini-btn Region{
-fx-shape: "M938.666667 640H469.333333a85.333333 85.333333 0 0 1-85.333333-85.333333V85.333333a85.333333 85.333333 0 0 1 85.333333-85.333333h469.333334a85.333333 85.333333 0 0 1 85.333333 85.333333v469.333334a85.333333 85.333333 0 0 1-85.333333 85.333333z m0-554.666667H469.333333v469.333334h469.333334V85.333333zM85.333333 938.666667h469.333334v-213.333334h85.333333v213.333334a85.333333 85.333333 0 0 1-85.333333 85.333333H85.333333a85.333333 85.333333 0 0 1-85.333333-85.333333V469.333333a85.333333 85.333333 0 0 1 85.333333-85.333333h213.333334v85.333333H85.333333v469.333334z";
}

.close-btn Region{
    -fx-shape:"M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z";
}
.close-btn:hover Region{
    -fx-background-color: red;
}

/***--------滑动布局-----------***/
.slider-pane{
    -fx-background-color: white;
}
.slider-pane-bottom{
    -fx-border-width: 3 0 0 0;
    -fx-border-color: -base-hover-color;
}
.hide-list-btn Region{
    -fx-background-color: -base-hover-color;
    -fx-shape: "M85.333333 768h426.666667v85.333333H85.333333v-85.333333z m0-298.666667h597.333334v85.333334H85.333333v-85.333334z m0-298.666666h853.333334v85.333333H85.333333V170.666667z m725.333334 476.586666V384h213.333333v85.333333h-128v298.666667a128 128 0 1 1-85.333333-120.746667z";

}
.add-btn{
    -fx-background-color: -base-hover-color;
}
/*函数变亮或变暗由正负号标识*/
.add-btn:pressed {
    -fx-background-color: derive(-base-hover-color,-20%);
}

.slider-pane-top{
    -fx-border-width: 0 0 2 0;
    -fx-border-color:  -base-hover-color;
}